# Data consistency checks

### This script contains the following:

#### 1. Importing libraries and data
#### 2. Data consistency checks
#### 3. Exporting data

### 1. Importing libraries and data

In [29]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [30]:
# Create string from project folder path

path = r'/Users/chadstacey/CF_Final_Project/Data'

In [31]:
# Import csv file

movies = pd.read_csv(os.path.join(path, 'Original_Data', 'movies.csv'), index_col = False, encoding = 'latin-1')

In [32]:
# Check output

movies.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

In [33]:
# Check shape

movies.shape

(6820, 15)

### 2. Data consistency checks

In [34]:
# Check data types

movies.dtypes

budget      float64
company      object
country      object
director     object
genre        object
gross       float64
name         object
rating       object
released     object
runtime       int64
score       float64
star         object
votes         int64
writer       object
year          int64
dtype: object

In [35]:
# Check for mixed type data

for col in movies.columns:
    weird = (movies[[col]].applymap(type) != movies[[col]].iloc[0].apply(type)).any(axis=1)
    if len(movies[weird]) > 0:
        print(col)

This check has showed me there are no mixed-type columns which need to be addressed

In [36]:
# Describe data set

movies.describe()

,budget,gross,runtime,score,votes,year
count,6.820000e+03,6.820000e+03,6820.00000,6820.000000,6.820000e+03,6820.000000
mean,2.458113e+07,3.349783e+07,106.55132,6.374897,7.121952e+04,2001.000293
std,3.702254e+07,5.819760e+07,18.02818,1.003142,1.305176e+05,8.944501
min,0.000000e+00,7.000000e+01,50.00000,1.500000,2.700000e+01,1986.000000
25%,0.000000e+00,1.515839e+06,95.00000,5.800000,7.665250e+03,1993.000000
50%,1.100000e+07,1.213568e+07,102.00000,6.400000,2.589250e+04,2001.000000
75%,3.200000e+07,4.006534e+07,115.00000,7.100000,7.581225e+04,2009.000000
max,3.000000e+08,9.366622e+08,366.00000,9.300000,1.861666e+06,2016.000000

In [61]:
# Change data type of 'year' from int64 to object

movies = movies.astype({"year": object})

In [62]:
# Confirm the above

movies['year'].dtypes

dtype('O')

In [63]:
# Check all dates in released column are in same format 

movies['released'].head(200)

0     1986-08-22
1     1986-06-11
2     1986-05-16
3     1986-07-18
4     1986-08-01
         ...
195   1986-01-17
196   1986-04-11
197   1986-11-14
198   1986-10-01
199   1986-10-31
Name: released, Length: 200, dtype: datetime64[ns]

In [64]:
# Import datetime

from datetime import datetime

In [65]:
# Normalise relased column so all dates follow same format 

movies['released'] = pd.to_datetime(movies['released'], format='%Y %m %d')

In [66]:
# Confirm the above has worked 

movies['released'].head(200)

0     1986-08-22
1     1986-06-11
2     1986-05-16
3     1986-07-18
4     1986-08-01
         ...
195   1986-01-17
196   1986-04-11
197   1986-11-14
198   1986-10-01
199   1986-10-31
Name: released, Length: 200, dtype: datetime64[ns]

In [67]:
# Count number of each country 

movies['country'].value_counts(dropna = False)

USA                               4872
UK                                 698
France                             283
Canada                             150
Germany                            134
Australia                           82
Japan                               68
Spain                               56
Italy                               51
Ireland                             44
Hong Kong                           39
India                               39
Denmark                             33
China                               24
South Korea                         20
Belgium                             18
Sweden                              18
New Zealand                         18
Mexico                              15
Argentina                           13
Iran                                12
Netherlands                         12
Russia                              10
South Africa                         9
Norway                               8
Czech Republic                       8
Taiwan                               8
Hungary                              7
Austria                              6
Switzerland                          6
Brazil                               6
Greece                               5
Israel                               5
Romania                              5
West Germany                         4
Chile                                4
Thailand                             3
Finland                              3
Colombia                             2
Peru                                 2
Poland                               2
Indonesia                            2
Portugal                             2
Federal Republic of Yugoslavia       1
Aruba                                1
Ukraine                              1
Palestine                            1
Soviet Union                         1
Saudi Arabia                         1
Malta                                1
Bahamas                              1
Kenya                                1
Iceland                              1
Jamaica                              1
Republic of Macedonia                1
Panama                               1
Cuba                                 1
Name: country, dtype: int64

In [68]:
# Find missing values 

movies.isnull().sum()

budget      0
company     0
country     0
director    0
genre       0
gross       0
name        0
rating      0
released    0
runtime     0
score       0
star        0
votes       0
writer      0
year        0
dtype: int64

In [69]:
# Check for duplicates

movies_dups = movies[movies.duplicated()]

In [70]:
# Check output

movies_dups

Empty DataFrame
Columns: [budget, company, country, director, genre, gross, name, rating, released, runtime, score, star, votes, writer, year]
Index: []

No missing values and no duplicates.

### 3. Exporting data

In [71]:
# Export cleaned movies df 

movies.to_pickle(os.path.join(path, 'Prepared_Data', 'movies_cleaned.pkl'))